h3 {
    font-size: 20px;
}

.Itineraries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;
}

@media (min-width: 560px) {
    h3 {
        font-size: 28px;
    }
}